@font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body * {
    text-decoration: none;
}

body {
    background: rgb(36, 89, 186);
    background: linear-gradient(180deg, rgba(36, 89, 186, 1) 0%,
            rgba(44, 100, 204, 1) 11%,
            rgba(77, 130, 230, 1) 50%,
            rgba(77, 130, 230, 1) 100%);
    height: 200vh;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    font-family: 'HallymMjo-Regular';
}

.cloud {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.disNone {
    position: absolute;
    display: none;
    z-index: 1;
}

.disFix {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(74, 123, 214, 0.9);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: menuContent 0.4s;
}

.disFix p {
    cursor: pointer;
    color: white;
    margin: 22px 0px;
    letter-spacing: 4px;
}

.gohan {
    color: #C67CF2;
    margin: 22px 0px;
    letter-spacing: 4px;
    font-weight: 900;
}

header {
    padding: 40px 40px;
}

.menuBtn {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    padding: 10px;
}

.fixed {
    position: fixed;
    z-index: 10;
}

.menuBtn i {
    font-size: 30px;
    margin-left: 10px;
}

.menuBtn span {
    font-size: 10px;
    margin-left: 18px;
    letter-spacing: 4px;
    font-weight: 600;
}

@keyframes menuBarOnClick {
    0% {
        transform: rotate(0deg);
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes menuBarUnClick {
    0% {
        transform: rotate(0deg);
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        transform: rotate(-180deg);
    }
}

.menucircle1 {
    animation: menuBarOnClick 0.4s;
}

.menucircle2 {
    animation: menuBarUnClick 0.4s;
}

@keyframes menuContent {
    0% {
        width: 5%;
        height: 5vh;
        margin: 5% 4%;
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        width: 100%;
        height: 100vh;
    }
}

@keyframes menuUnContent {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}

.menuAnimated {
    animation: menuContent 0.4s;
}

.menuUnAnimated {
    animation: menuUnContent 0.4s;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.fallGirl {
    position: absolute;
    width: 330px;
    top: 8%;
}

section .new {
    margin-top: 30px;
    color: white;
    letter-spacing: 5px;
    font-size: 12px;
}

section .new_box {
    position: absolute;
    top: 28%;
}

section .new_title {
    width: 150px;
    margin-top: 20px;
}



section .hotaruBanner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image:
        url("https://harumakigohan.s3.ap-northeast-2.amazonaws.com/new_thumbnail.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
}

section .hotaruBanner i {
    color: red;
    font-size: 30px;
}

aside .aside_box {
    position: absolute;
    right: 0;
    top: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

aside .aside_box i {
    margin: 15px 0px;
    font-size: 20px;
    color: white;
}

aside .fixed_banner a .fixed_banner1 {
    position: fixed;
    bottom: 160px;
    right: -250px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 250px;
    animation: asideBannerIn 1.5s;
    animation-fill-mode: forwards;
}

aside .fixed_banner a .fixed_banner2 {
    position: fixed;
    bottom: 47px;
    right: -250px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 250px;
    animation: asideBannerIn 1.5s;
    animation-fill-mode: forwards;
}

@keyframes asideBannerIn {
    from {
        right: -250px;
    }

    to {
        right: 0px;
    }
}

.news {
    display: flex;
    justify-content: center;
}

.slider {
    position: absolute;
    top: 52%;
    width: 100%;
    height: 335px;
    overflow: hidden;
}

.slider-inner .banner_img1 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0.2) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner1.jpg);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img2 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner2.jpg);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img3 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner3.jpg);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img4 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner4.jpg);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img5 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner5.png);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img6 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner6.png);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img7 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner7.jpg);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner .banner_img8 {
    width: 600px;
    height: 355px;
    background:linear-gradient( 
        to bottom, rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0) 25%, 
        rgba(20, 20, 20, 0) 50%, 
        rgba(20, 20, 20, 0.4) 75%, 
        rgba(20, 20, 20, 0.7) 100%
        ), url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner8.jpg);
        content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4900px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    pointer-events: none;
}

.slider-item {
    height: 100%;
    text-align: center;
    position: relative;
    color: white;
}

.slider-item p {
    font-size: 15px;
}

.slider-item .banner_sub_title1 {
    position: absolute;
    bottom: 45px;
    left: 15px;
}

.slider-item .banner_sub_title2 {
    position: absolute;
    bottom: 65px;
    left: 15px;
}

.slider-item .banner_title {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.slider .arrow_right{
    position: absolute;
    font-size: 70px;
    color: white;
    z-index: 4;
    top: 130px;
    right: 10px;
    cursor: pointer;
}

.slider .arrow_left{
    position: absolute;
    font-size: 70px;
    color: white;
    z-index: 4;
    top: 130px;
    left: 10px;
    cursor: pointer;
}


.pore {
    position: relative;
    display: flex;
    justify-content: space-between;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.fade {
    animation: fade;
}

.bottom_cloud {
    position: absolute;
    bottom: 450px;
    width: 100vw;
}