@font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body * {
    text-decoration: none;
}

section {
    position: relative;
}

body {
    background: rgb(36, 89, 186);
    background: linear-gradient(180deg, rgba(36, 89, 186, 1) 0%,
            rgba(44, 100, 204, 1) 11%,
            rgba(77, 130, 230, 1) 50%,
            rgba(77, 130, 230, 1) 100%);
    height: 220vh;
    margin: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    font-family: 'HallymMjo-Regular';
    overflow-x: hidden;
}

.cloud {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.disNone {
    position: absolute;
    display: none;
    z-index: 4;
}

.disFix {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(74, 123, 214, 0.9);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: menuContent 0.4s;
}

.disFix p {
    cursor: pointer;
    color: white;
    margin: 22px 0px;
    letter-spacing: 4px;
}

.gohan {
    color: #C67CF2;
    margin: 22px 0px;
    letter-spacing: 4px;
    font-weight: 900;
}

header {
    padding: 40px 40px;
    position: relative;
}

.menuBtn {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    padding: 10px;
}

.fixed {
    position: fixed;
    z-index: 3;
}

.menuBtn i {
    font-size: 30px;
    margin-left: 10px;
}

.menuBtn span {
    font-size: 10px;
    margin-left: 18px;
    letter-spacing: 4px;
    font-weight: 600;
}

@keyframes menuBarOnClick {
    0% {
        transform: rotate(0deg);
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes menuBarUnClick {
    0% {
        transform: rotate(0deg);
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        transform: rotate(-180deg);
    }
}

.menucircle1 {
    animation: menuBarOnClick 0.4s;
}

.menucircle2 {
    animation: menuBarUnClick 0.4s;
}

@keyframes menuContent {
    0% {
        width: 5%;
        height: 5vh;
        margin: 5% 4%;
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        width: 100%;
        height: 100vh;
    }
}

@keyframes menuUnContent {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}

.menuAnimated {
    animation: menuContent 0.4s;
}

.menuUnAnimated {
    animation: menuUnContent 0.4s;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.fallGirl {
    position: absolute;
    width: 330px;
    top: 8%;
}

section .new {
    margin-top: 30px;
    color: white;
    letter-spacing: 5px;
    font-size: 12px;
}

section .new_box {
    position: absolute;
    top: 55%;
}

section .new_title {
    width: 150px;
    margin-top: 20px;
}



section .hotaruBanner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image:
        url("https://harumakigohan.s3.ap-northeast-2.amazonaws.com/new_thumbnail.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
}

section .hotaruBanner i {
    color: red;
    font-size: 30px;
}

aside .aside_box {
    position: absolute;
    right: 0;
    top: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

aside .aside_box i {
    margin: 15px 0px;
    font-size: 20px;
    color: white;
}

aside .fixed_banner a .fixed_banner1 {
    position: fixed;
    bottom: 160px;
    right: -250px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 250px;
    animation: asideBannerIn 1.5s;
    animation-fill-mode: forwards;
    z-index: 3;
}

aside .fixed_banner a .fixed_banner2 {
    position: fixed;
    bottom: 47px;
    right: -250px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 250px;
    animation: asideBannerIn 1.5s;
    animation-fill-mode: forwards;
    z-index: 3;
}

@keyframes asideBannerIn {
    from {
        right: -250px;
    }

    to {
        right: 0px;
    }
}

section:nth-of-type(2) {
    height: 450px;
}

.news {
    display: flex;
    justify-content: center;
}

.box {
    width: 500px;
    min-width: 500px;
    height: 300px;  
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 0.25s ease;
    z-index: 1;
}

.box .slideImg3 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner1.jpg);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg4 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner2.jpg);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg5 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner3.jpg);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg6 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner4.jpg);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg7 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner5.png);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg8 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner6.png);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg1 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0)50%,
            rgba(255, 255, 255, 0.0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner7.jpg);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box .slideImg2 {
    width: 500px;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(50, 50, 50, 0) 50%,
            rgba(255, 255, 255, 0) 100%),
        url(https://harumakigohan.s3.ap-northeast-2.amazonaws.com/baner8.jpg);
    border: none;
    content: "";
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}

.box p, h3 {
    z-index: 2;
    left: 20px;
}

.box h3 {
    position: absolute;
    bottom: 10px;
}

.box p:nth-of-type(1) {
    position: absolute;
    bottom: 45px;
    font-size: 12px
}

.box p:nth-of-type(2) {
    position: absolute;
    bottom: 60px;
    font-size: 12px
}


.box:nth-of-type(1) {
    left: -415px;
}

.box:nth-of-type(2) {
    left: 145px;
}

.box:nth-of-type(3) {
    left: 705px;
}

.box:nth-of-type(4) {
    left: 1265px;
}

.box:nth-of-type(5) {
    left: 1825px;
}

.box:nth-of-type(6) {
    left: 2385px;
}

.box:nth-of-type(7) {
    left: 2945px;
}

.box:nth-of-type(8) {
    left: 3505px;
}

.arrowbox {
    display: flex;
}

.arrowR {
    font-size: 80px;
    position: absolute;
    top: 21vh;
    right: 10px;
    cursor: pointer;
    color: white;
    z-index: 3;
}

.arrowL {
    font-size: 80px;
    position: absolute;
    top: 21vh;
    left: 10px;
    cursor: pointer;
    color: white;
    z-index: 3;
}

.slider-inner {
    left: 0;
    top: 10vh;
    display: flex;
    /* 여기부분이 슬라이더의 메인임 
    요소를 옮기려면 absolute가 있어야 left를 사용할수있는데
    absolute가 없으면 이동이 되지 않음 */
    position: absolute;
    animation: fadeoutLeft 0.25s;
    animation-fill-mode: forwards;
}

.slider-number {
    position: absolute;
    display: flex;
    top: 42vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
    color: rgb(49, 83, 145);
}

.slider-number i {
    margin: 0px 7px;
}

.discography {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.auto-slide {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    transition: all 0.25s ease;
    animation: autoSlide 0.25s;
}

@keyframes autoSlide {
    from {
        left: 50%;
    }
    to {
        left: -50%;
    }
}

.auto-slide1 {
    position: absolute;
    width: 700px;
    height: 500px;
    transition: 2s ease all;
    left: -1000px;
}

.auto-slide1 img:nth-of-type(1) {
    position: absolute;
    width: 250px;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 2px 20px black;
}


.auto-slide1 p{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    font-size: 12px;
}

.auto-slide1 h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
}

.auto-slide2 {
    position: absolute;
    width: 700px;
    height: 500px;
    transition: 2s ease all;
    top: 50px;
    left: -400px;
}

.auto-slide2 img:nth-of-type(1) {
    position: absolute;
    width: 280px;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 2px 20px black;
}

.auto-slide2 img:nth-of-type(2) {
    width: 587px;
}

.auto-slide2 p{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%);
    font-size: 12px;
    color: white;
}

.auto-slide2 h3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    color: white;
}

.auto-slide3 {
    position: absolute;
    width: 700px;
    height: 500px;
    transition: 2s ease all;
    left: 200px;
}

.auto-slide3 img:nth-of-type(1) {
    position: absolute;
    width: 250px;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 2px 20px black;
}

.auto-slide3 p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    font-size: 12px;
    color: white;
}

.auto-slide3 h3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    color: white;
}
.auto-slide4 {
    position: absolute;
    width: 700px;
    height: 500px;
    transition: 2s ease all;
    left: 800px;
}

.auto-slide4 img:nth-of-type(1) {
    position: absolute;
    width: 250px;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 2px 20px black;
}

.auto-slide4 p{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%);
    font-size: 12px;
    color: white;
}

.auto-slide4 h3 {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    color: white;
}

@keyframes fadeoutLeft {
    to {
        left: -560px;
    }
}

button {
    border: 0;
    background-color: transparent;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

.fade {
    animation: fade;
}

.bottom_cloud {
    position: absolute;
    top: 50vh;
    width: 100vw;
}